<nav class="navbar navbar-expand-lg" style=" border-radius: 10px ; background-color: #2c2c54">
    <div class="container-fluid">
      <a style="color:#e67e22" class="navbar-brand" href="#" ><b>WheelsOnTheGo</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:#e67e22" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a style="color:#e67e22" class="nav-link" href="#">Link</a>
          </li>
          
          <li class="nav-item">
            <a style="color:#e67e22" class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search" *ngIf="IsUserLogin==false">
          <button class="btn" style="background-color: #40407a; color: #e67e22;"  routerLink="/login" >Login</button>
          <button class="btn" style="background-color: #40407a; color: #e67e22;"  routerLink="/register" >Register</button>
        </form>
        <form class="d-flex" role="search" *ngIf="IsUserLogin==true">
          <button class="btn btn-dark"  (click)="Logout()" >Logout</button>
          <p>{{Email}}</p>
        </form>
      </div>
    </div>
  </nav>