<nav class="navbar navbar-expand-lg bg-ligth">
  <div class="container">
    <a style="color: #e67e22" class="navbar-brand" href="#"
      ><b>WheelsOnTheGo</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            style="color: #e67e22; font-weight: bold;"
            class="nav-link active"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a style="color: #e67e22; font-weight: bold;" class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item">
          <a style="color: #e67e22;font-weight: bold;" class="nav-link" href="#">Cars</a>
        </li>

        <li class="nav-item">
          <a style="color: #e67e22;font-weight: bold;" class="nav-link" href="#">Contact</a>
        </li>

      </ul>
      <form class="d-flex" role="search" *ngIf="IsUserLogin == false">
        <button
          class="btn"
          style="background-color: #e67e22; color: #ffffff ; border-radius: 0%; margin-right: 10px;" 
          routerLink="/login"
        >
          Login
        </button>
        <button
          class="btn"
          style="background-color: #e67e22; color: #ffffff ; border-radius: 0%;"
          routerLink="/register"
        >
          Register
        </button>
      </form>
      <form style="height: 40px;" class="d-flex justify-content-center align-items-center" role="search" *ngIf="IsUserLogin == true">
        <div class="text-center justify-content-center align-items-center" routerLink = "/profile">
            <p style="color: #e67e22; margin-right: 10px; font-size: 20px; align-items: center; vertical-align: middle;">
                <i style="margin-right: 5px;" class="bi bi-person-heart"></i>{{ UserName }}
            </p>
        </div>
       
        <button class="btn" style="background-color: #e67e22; color: #ffffff; border-radius: 0%" (click)="Logout()">Logout</button>
    </form>
    </div>
  </div>
</nav>

<div style="background-color: #e67e22">
<div class="container" style="padding-top: 10px; padding-bottom: 10px;">
  <h5 style="color: #ffffff;" routerLink = "/cars">Cars List</h5>
</div>
 
</div>
