<br>

<div style="display: flex; justify-content: center; align-items: center; width: 800px;">
<div style="border : 2px solid black ; padding : 30px; width: 50%;">
  <div style="width: 350px; height: 200px;">
    <carousel  [noWrap]="noWrapSlides" [interval]="3000"> 
      <slide *ngFor="let carImage of carImages">
        <img  style="width: 350px; height: 200px;" [src]="getCarImage(carImage)">
      </slide>
    </carousel> <!-- slider kodları -->
  </div>
 
  
  
   
    <div class="col-md-7">
      <div style="display : flex; justify-content: center; align-items: center; width: 350px;" >
        <table class="text-center">
          <br>
          <ul class="list-group" *ngFor="let carDetail of carDetails">
            <li class="list-group-item">
             <b>Car Name :</b>  {{carDetail.carName}}
            </li>
            <li class="list-group-item">
             <b>Brand : </b> {{carDetail.brandName}}
            </li>
            <li class="list-group-item">
             <b>Color :</b>  {{carDetail.colorName}}
            </li>
            <li class="list-group-item">
             <b>Model Year :</b>  {{carDetail.modelYear}}
            </li>
            <li class="list-group-item">
             <b>Daily Price :</b>  {{carDetail.dailyPrice}}
            </li>
            <li class="list-group-item">
             <b>Explanation : </b>   {{carDetail.description}}
            </li>
          </ul>
          <br>
          <button class="btn btn-success mt-3">Rent</button>
        </table>
      </div>
    </div>
  
</div>
</div>
<br>