
<!-- <ul>
    <li>asd</li>
    <li>asd</li>
    <li>adad</li>
</ul> -->

<div class="container-fluid" style="margin: 0%; padding: 0%;">
    <app-navi></app-navi>
    <div class="container">
        
        <div class="row">
            <div class="col-md-3">
                <app-customer></app-customer>
                <app-color></app-color>
                <app-brand></app-brand>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
               <!-- <app-rental></app-rental> -->
            </div>
        </div>

    </div>
    
</div>

