<div
  *ngIf="dataLoded == false"
  class="spinner-border text-primary"
  role="status">
</div>

<div class="container">
<div  class="alert alert-danger" role="alert" style="text-align: center"><th>CARS İNFORMATİON</th>  </div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Car Name">
</div>
<!--<div>
{{filterText}} aradınız.
</div> -->

<div class="row">
  <div class="col-md-4">
  <label >Marka seçiniz</label>
  <select class="form-select" aria-label="Default select example" [(ngModel)]="brandFilter">
    <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
  </select>
  </div> 
  <br>

  <div class="col-md-4">
  <label >Renk seçiniz</label>
  <select class="form-select" aria-label="Default select example" [(ngModel)]="colorFilter">
    <option *ngFor="let color of colors"  [value]="color.colorId">{{color.colorName}}</option>
  </select>
  </div>
  <br>

  <div class="col-md-4">
    <button  (click)="getCarsByBrandAndColor(brandFilter,colorFilter)" type="button" class="btn btn-outline-dark mt-4 d-block " >Filter</button>
  </div>
</div>
<br>

  <ul class="list-group">
    <li *ngFor="let car of cars | carFilter : filterText" 
     class="list-group-item"
    [class]="getCurrentCarClass(car)" 
    (click)="setCurrentCar(car)" 
    routerLink="carDetails/{{ car.carId }}">
      <h4>{{ car.carName }}</h4>
      <p>Color : {{ car.colorName}}</p>
      <p>Model Year : {{ car.modelYear }}</p>
      <p>Daily Price : {{ car.dailyPrice }} TL</p>
    </li>
  </ul>   

  



 