/* You can add global styles to this file, and also import other style files */
dialog {
    background-color: rgba(32, 82, 221, 0.5);
    color: white;
    border-color: transparent;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 250;
    width: 80%;
    z-index: 1000px;
 }
 body{
    background-image: url('/assets/images/bacground.jpg');
    background-size: cover; /* Resmi pencere boyutuna sığdır */
   background-attachment: fixed; /* Resmi sabit bir konumda tut */

 }